html,
body,
#container {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-color: #401164;
  animation-name: completion;
  animation-duration: 6s;
}

@keyframes completion {
  0% {
    background-color: #fefbcc;
  }
  25% {
    background-color: #87e1ed;
  }
  50% {
    background-color: #fe2c55;
  }
  100% {
    background-color: #401164;
  }
}

div {
  color: white;
}

#container {
  /* flex container */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 85px;
  border-radius: 60px;
  background-color: none;
}

i.fas,
i.fab,
i.far {
  font-size: 175px;
  color: #fff;
}

/* first version of animation

from {
    background-color: #fefbcc;
  }
  to {
    background-color: #fe2c55;
  } */
